<html>
    <head>
        <link <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
   <body>
       <div class="jumbotron">
           <div class="container">
                <h1>Welcome to my Digital Scrapping page for digital photo Frames!</h1>
                <p>My name is Martha Slobojan and I'm the founder 
                   and Digital Designer of <a href="http://dsFrames.com">dsFrames</a>.</p>

                <a href="{{ url_for('index') }}">Back to homepage</a>
           </div>
        </div>
   </body> 
</html>
